{% assign faq_title = collection.metafields.custom.collection_faq_question.value %}
 {% assign faq_content = collection.metafields.custom.collection_faq_answer.value %}      
  {% for title in faq_title %}
    {% assign final_index  = forloop.index  %}
        {% for content in faq_content %}
             {% if final_index == forloop.index %}
              <details class="asd accordion {% if size %} accordion--{{ size }}{% endif %} group {% if bleed %}bleed sm:unbleed{% endif %}" is="{{ is | default: 'accordion-disclosure' }}" {% if open %}open aria-expanded="true"{% else %}aria-expanded="false"{% endif %} {{ block.shopify_attributes }}>
                <summary>
                  <span class="accordion__toggle text-lg">
                     <span class="text-with-icon gap-4">
                          {{ title }}
                    </span>
                    {%- if show_arrow -%}
                      {%- render 'icon' with 'chevron-down', class: 'group-expanded:rotate' -%}
                    {%- else -%}
                      <span class="animated-plus group-expanded:rotate" aria-hidden="true"></span>
                    {%- endif -%}
                  </span>
                </summary>
              
                <div class="accordion__content {% if prose_content %}prose{% endif %}">
                    {{ content }}  
                </div>
              </details>
          {% endif %}
    {% endfor %}
{% endfor %}