{%- if section.settings.how_this_helps != blank or product.metafields.custom.how_to_use != blank or product.metafields.custom.how_this_help_banner != blank or product.metafields.custom.how_this_help_banner_title != blank -%}
<div class="page-width">
  {%- if section.settings.how_this_helps != blank or product.metafields.custom.how_to_use != blank -%}
    <div class="ht-top">
      {%- comment -%}<h2 class="cust-hd">How This Helps Moms</h2>{%- endcomment -%}
      <h2 class="cust-hd">{{ section.settings.title }}</h2>
      <p>{{ product.metafields.custom.how_this_helps }}</p>
      {%- comment -%}<p>Women who are breastfeeding should increase fluid intake by about 30%, so a lactation supplement drink mix is a great way to support your milk supply and make every sip count. How To Use:</p>{%- endcomment -%}
      <div class="how-hd">How To Use</div>
      {%- unless product.metafields.custom.how_to_use == blank -%}
        <ul class="ht-list">
          {%- assign howUseArr = product.metafields.custom.how_to_use | split:'##' -%}
          {%- for use in howUseArr -%}
            <li>{{ use }}</li>
          {%- endfor -%}
          {%- comment -%}
            <li>Milkflow can be used when pumping. Just mix with water or juice.</li>
            <li>Start taking Milkflow as early or as soon as you want to help enhance your breast milk supply.</li>
            <li>Take up to two times daily.</li>
          {%- endcomment -%}
        </ul>
      {%- endunless -%}
    </div>
  {%- endif -%}
  {%- if product.metafields.custom.how_this_help_banner != blank or product.metafields.custom.how_this_help_banner_title != blank -%}
    <div class="made-banner">
      <div class="made-inner">
        <div class="made-bnr">
          <img src="{{ product.metafields.custom.how_this_help_banner | img_url:'master' }}" alt="{{ product.metafields.custom.how_this_help_banner.alt }}">
          {%- comment -%}<img src="//cdn.shopify.com/s/files/1/0222/3004/0648/files/Group_3778.png?v=1684245038" alt="">{%- endcomment -%}
        </div>
        <div class="mad-inner-text">
          <div class="mad-icon">
            <svg id="Group_3540" data-name="Group 3540" xmlns="http://www.w3.org/2000/svg" width="105.887" height="98.002" viewBox="0 0 105.887 98.002">
              <g id="Group_3537" data-name="Group 3537">
                <g id="Group_3536" data-name="Group 3536">
                  <path id="Path_3089" data-name="Path 3089" d="M6.243,172.832l9.576-10.607L15.09,176.5l14.271-.729-10.607,9.576,10.607,9.576L15.09,194.19l.729,14.271L6.243,197.855l-9.576,10.607L-2.6,194.19l-14.271.729,10.607-9.576-10.607-9.576L-2.6,176.5l-.729-14.271Z" transform="translate(63.179 -111.553)" fill="#365462"></path>
                  <g id="Group_3535" data-name="Group 3535">
                  <path id="Path_3090" data-name="Path 3090" d="M-28.357,130.667c.229-.349.427-.659.635-.961a12.3,12.3,0,0,1,13.218-4.864,12.309,12.309,0,0,1,9.059,10.414A15.447,15.447,0,0,1-7.589,144.8a42.489,42.489,0,0,1-6.762,8.536c-3.642,3.764-7.695,7.07-11.66,10.473-.773.663-1.548,1.321-2.354,2.011-.637-.542-1.265-1.072-1.887-1.608-3.808-3.287-7.73-6.449-11.285-10.021a48.136,48.136,0,0,1-7.151-8.6,16.738,16.738,0,0,1-2.7-9.082,12.366,12.366,0,0,1,8.247-11.369,12.273,12.273,0,0,1,14.54,5.192C-28.537,130.43-28.458,130.526-28.357,130.667Z" transform="translate(51.392 -124.452)" fill="#365462"></path>
                  </g>
                  <rect id="Rectangle_903" data-name="Rectangle 903" width="109.985" height="3.316" transform="translate(3.168 85.309) rotate(-45)" fill="#365462"></rect>
                </g>
              </g>
              <g id="Group_3539" data-name="Group 3539" transform="translate(93.339 91.342)">
                <g id="Group_3538" data-name="Group 3538">
                  <path id="Path_3091" data-name="Path 3091" d="M23.2,193.28H21.1V199.2h-.817V193.28h-2.1v-.738H23.2Z" transform="translate(-18.187 -192.542)" fill="#365462"></path>
                  <path id="Path_3092" data-name="Path 3092" d="M28.512,199.2l-.372-5.481L26.2,198.933h-.687l-1.926-5.2-.374,5.473h-.766l.449-6.66h.766v.011l.172-.011,2.031,5.441,2.023-5.441.173.011v-.011h.765l.453,6.66Z" transform="translate(-16.732 -192.542)" fill="#365462"></path>
                </g>
              </g>
            </svg>
          </div>
          {%- comment -%}<h3>Made with love.<br>Backed by science</h3>{%- endcomment -%}
          <h3>{{ product.metafields.custom.how_this_help_banner_title }}</h3>
          <p>{{ product.metafields.custom.how_this_help_banner_content }}</p>
          {%- comment -%}<p>At UpSpring, we nurture the nurturers™ so, you will feel cared for, too. All our wellness solutions are made with love and backed by science.</p>{%- endcomment -%}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>
{%- endif -%}

{% schema %}
  {
    "name": "How Helps Moms",
    "enabled_on": {
      "templates": ["product"]
    },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
    ],
    "presets": [
      {
        "name": "How Helps Moms"
      }
    ]
  }
{% endschema %}